@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.nunito-font {
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.montserrat-font {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.clicked {
    box-shadow: 0 0 0 0 #1b6ff8,
                0 0 0 0 #1b70f841;
    border-bottom: 0;
}

.wrong {
    background-color: red;
    border-radius: 9999px;
    animation: flashWrong .3s ease-in-out 2 alternate;
}

.true {
    background-color: rgb(62, 187, 62);
    animation: flashTrue 0.5s;
}

@keyframes flashWrong {
    50% {
        background-color: white;
    }
    75% {
        background-color: red;
    }
    100% {
        background-color: white;
    }
}

@keyframes flashTrue {
    50% {
        background-color: white;
    }
    100% {
        background-color: rgb(62, 187, 62);
    }
}